.button-container {
    display: inline;
    margin: 0vw 2vw;
    font-size: var(--button-text-size);
    background: cornflowerblue;
    padding: .3vw 2vw;
    color: white;
    border-radius: 5px;
  }
  
  .button-container:hover {
    cursor: pointer;
  }